﻿{% extends "app/layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "My Bank" %}{% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>

<h2>{% trans "Current balance : " %}{{ user.bankaccount.balance }}</h2>

<h2>{% trans "All operations" %}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">{% trans "Date" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for operation in last_operations %}
        <tr> 
            <td>{{ operation.date }} </td>
            <td>{{ operation.amount }} </td>
            <td>{{ operation.title }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}