﻿{% extends "app/layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "List of all bets" %}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{% trans "Entries" %}</th>
            <th scope="col">{% trans "Total invested" %}</th>
            <th scope="col">{% trans "Creator" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for bet in bet_list %}
        <tr> 
            <td><a href="{% url 'bet_detail' bet.id %}">{{ bet.title }} </a></td>
            <td>{{ bet.get_entries_count }} </td>
            <td>{{ bet.get_total_invested }} </td>
            <td>{{ bet.creator }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div><a href="{% url 'bet_creation' %}">+ Create new bet</a></div>

{% endblock %}