﻿{% extends "app/layout.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{{ bet.title }}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{% trans "Entries" %}</th>
            <th scope="col">{% trans "Total invested" %}</th>
            <th scope="col">{% trans "Current rating" %}</th>
            <th scope="col">{% trans "Creator" %}</th>
            <th scope="col">{% trans "Created on" %}</th>
            {% if user.is_authenticated %}
            <th scope="col">{% trans "I'm betting !" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for option in bet.betoption_set.all %}
        
        <tr> 
            <td class="option-title">{{ option.title }} </td>
            <td class="option-entries-count">{{ option.get_entries_count }} </td>
            <td class="option-total-invested">{{ option.get_total_invested }} </td>
            <td class="option-current-rating">{{ option.get_current_rating }} </td>
            <td class="option-creator">{{ option.creator }} </td>
            <td class="option-creation-date">{{ option.creation_date }} </td>
            {% if user.is_authenticated %}
            <td class="betting-col"><form action="{% url 'betting_creation' bet.id %}" method="post">{% csrf_token %}
                <input type="number" name="amount" min="0" max="{{ user.bankaccount.balance }}" step="0.01" class="amount-input"/>
                <input type="hidden" name="betoption" value="{{ option.id }}"/>
                <button type="button" class="see-gains">{% trans "See potential gain" %}</button>
                <br />
                <span class="virtual-gain-wrapper" style="visibility:hidden">{% trans "Your potential gain" %} : <span class="virtual-gain"></span></span>
                <button type="submit" class="submit-bet" style="visibility:hidden">{% trans "Bet" %}</button>
            </form>
            </td>
            {% endif %}
        </tr>
        
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block scripts %}
<script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript">
     $('.see-gains').on('click', function (e) {
        var input = $(this).siblings('.amount-input');
        var amount = Number(input.val());
        var a = ({{ bet.get_total_invested }}+amount)*0.85;
        var b = Number(input.closest('tr').find('.option-total-invested').text())+amount;
        var rate = a/b;
        var gain = amount*rate;

        input.closest('.betting-col').find('.virtual-gain').html(gain.toFixed(2));
        input.siblings('.submit-bet').css("visibility", "visible");
        input.siblings('.virtual-gain-wrapper').css("visibility", "visible");
    });
</script>
{% endblock %}
