﻿{% extends "app/layout.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block head_title %}{% trans "My Bets" %}{% endblock %}

{% block content %}

<h1>{% trans "Bets I created" %}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{% trans "Entries" %}</th>
            <th scope="col">{% trans "Total invested" %}</th>
            <th scope="col">{% trans "Creator" %}</th>
            <th scope="col">{% trans "Expire on" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for bet in active_bets %}
        <tr> 
            <td><a href="{% url 'admin_bet' bet.id %}">{{ bet.title }} </a></td>
            <td>{{ bet.get_entries_count }} </td>
            <td>{{ bet.get_total_invested }} </td>
            <td>{{ bet.creator }} </td>
            <td>{{ bet.expiration_date }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div><a href="{% url 'bet_creation' %}">+ Create new bet</a></div>

<h1>{% trans "Current bettings" %}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{% trans "Answer" %}</th>
            <th scope="col">{% trans "Invested" %}</th>
            <th scope="col">{% trans "Current expected payback" %}</th>
            <th scope="col">{% trans "Expire on" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for betting in active_bettings %}
        <tr> 
            <td><a href="{% url 'bet_detail' betting.option.bet.id %}">{{ betting.option.bet.title }} </a></td>
            <td>{{ betting.title }} </td>
            <td>{{ betting.amount }} </td>
            <td>{{ betting.get_current_payback }} </td>
            <td>{{ betting.option.bet.expiration_date }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}