{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'account_logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'profile' %}"class="navbar-brand"><i class="far fa-user"></i> {{ user.username }}</a></li>
        <li><a href="{% url 'my_bank' %}"class="navbar-brand"><i class="fas fa-wallet"></i> {{ user.bankaccount.balance }}</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'account_login' %}">Log in</a></li>
</ul>

{% endif %}
